@model IEnumerable<uHealth.Models.Recipe>

@{
    ViewData["Title"] = "SearchRecipe";
    Layout = "_Layout";

}

<div class="container mt-4">
    <div class="jumbotron bg-light">
        <h4 class="title">Search for Recipes</h4>
        <form id="searchForm" asp-action="SearchForRecipe" method="post">
            <input name="searchWord" type="text" class="form-control" id="searchText" placeholder="Search">
            <br>
            <p><button type="submit" class="btn btn-primary btn-lg text-white" id="recipe_search">Search recipes</button></p>
        </form>
    </div>
</div>


<main role="main">

    <div class="album py-5 ">
        <div class="container">

            <div class="row" id="recipes">

                @if (Model != null)
                {

                    foreach (var obj in Model)
                    {

                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img id="hell_llo" class="card-img-top" src="@obj.Image" />
                                <div class="card-body">
                                    <h3>@obj.Label</h3>
                                    <p class="card-text">@obj.Ingrediants</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">

                                            <form asp-action="FavouriteForRecipe" method="post">
                                                <input type="hidden" id="label" name="label" value="@obj.Label" />
                                                <input type="hidden" id="image" name="image" value="@obj.Image" />
                                                <input type="hidden" id="ingrediants" name="ingrediants" value="@obj.Ingrediants" />
                                                <input type="hidden" id="source" name="source" value="@obj.Source" />

                                                <button type="submit" class="btn btn-sm btn-outline-secondary">Favourite</button>
                                            </form>

                                        </div>
                                        <small class="text-muted">Provided By @obj.Source</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>

</main>


@*<script src="~/js/RecipeSearch.js"></script>*@
